<footer class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center text-sm">
      <div class="px-5 py-2">
        Built by <a href="https://www.gesteves.com" class="text-gray-500 hover:text-gray-900">Guillermo Esteves</a>
      </div>

      <div class="px-5 py-2">
        <a href="https://github.com/gesteves/weatherbot" class="text-gray-500 hover:text-gray-900">GitHub</a>
      </div>

      <div class="px-5 py-2">
        <%= link_to "Privacy", privacy_path, class: 'text-gray-500 hover:text-gray-900' %>
      </div>

      <div class="px-5 py-2">
        Powered by <a href="https://darksky.net/poweredby/" class="text-gray-500 hover:text-gray-900">Dark Sky</a>
      </div>

      <div class="px-5 py-2">
        App icon by <a href="https://www.sihanliu.com/" class="text-gray-500 hover:text-gray-900">Sihan Liu</a>
      </div>
    </nav>
  </div>
</footer>
