<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Privacy</span>
      </h1>

    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <p>I don’t have a fancy privacy policy full of legalese written by an expensive lawyer, so here’s my plain language privacy policy: <em>Weatherbot only stores the minimum amount of data about your Slack workspace and its users needed to use the app</em>.</p>
      <p>Specifically, Weatherbot stores in its database:</p>
      <ul>
        <li>The Slack ID of your workspace and an access token granted when you authorized the app. It needs this so it can interact with your Slack, for example, by updating its Home tab with new forecasts.</li>
        <li>The Slack ID of anyone who’s entered a location in Weatherbot’s preferences in the Home tab. It needs this so it can update its Home tab with a new forecast for that user’s location. It doesn’t store any personally identifiable information about its users, such as emails and IP addresses, nor is it able to see them.</li>
        <li>Importantly, if you uninstall Weatherbot from your Slack, all this information gets immediately deleted from Weatherbot’s database.</li>
      </ul>
    </div>
  </div>
</div>
